
<h1>Get injected form</h1>
<div class="num">2</div>
<div class="injectedform">
    <table>
        <tr class="title"><td colspan="2">Card Details</td></tr>
        <tr><td>* Card number</td><td><input /></td></tr>
        <tr><td>* Security code</td><td><input /></td></tr>
        <tr><td>* Expiry Date</td><td><input /></td></tr>
        <tr><td colspan="2"><button>MAKE PAYMENT</button></td></tr>
        <tr><td colspan="2"><div class="poweredby">Powered By:<a href="http://xssfail.com/#stolen">xssfail.com</a></div></td></tr>
    </table>
</div>

