{{>doctype}}
<html>
    {{>header}}
    <body>
        {{>mainmenu}}
        <ul>
            <li class="injectscript">{{>inject}}</li>
            <li class="getform">{{>getform}}</li>
            <li class="getwinners">
                <h1>Get &quot;WINNERS&quot;</h1>
                <div class="num">3</div>
				<table id="rows" class="rows">
					<tr class="head">
						<th class="pager" colspan="4">
							Items per page:
							<select id="limit">
								<option selected="selected">5</option>
								<option>10</option>
								<option>20</option>
								<option>50</option>
							</select>
							<button class="prev"></button>
							<form action="#">
								Page: <input id="page-num" value="1" maxlength="5" /> / <span class="total">X</span>
							</form>
							<button class="next"></button>
						</th>
					</tr>
					<tr class="head">
						<th>host <a id="byhost" class="asc" href="#byhost"><img src="{{ static }}/img/1px.gif" /></a></th>
						<th>date <a id="bydate" class="desc" href="#bydate"><img src="{{ static }}/img/1px.gif" /></a></th>
						<th>cookies</th>
						<th>url</th>
					</tr>
				</table>
            </li>
        </ul>
        <div class="clear"></div>

        <script>
            var config = {};
            (function(db, staticPath) {
                config = {
                    db : db,
                    staticjs : staticPath+"/js",
                    vendorjs : staticPath+"/vendor/couchapp",
                    templates : "/" + db+"/_design/api/templates"
                }
            })("xss", "{{ static }}");
        </script>
        
		<script src="{{ static }}/js/loader.js"></script>
    </body>
</html>
