{{>doctype}}
<html>
    {{>header}}
    <body>
        {{>mainmenu}}
        <ul>
            <li>
                <div class="ru">Проект xssfail.com разрабатывается с целью продемонстрировать уязвимости сайтов.</div>
                <div class="en"></div>
            </li>
            <li>
                <div class="ru">Gibhub: <a href="https://github.com/eugene-kartsev/xssfail" target="_blank">https://github.com/eugene-kartsev/xssfail</a></div>
                <div class="en"></div>
            </li>
        </ul>
    </body>
</html>
