{{>doctype}}
<html>
    {{>header}}
    <body>
        {{>logo}}
        {{>menu}}
        {{>breadcrumbs}}
        
        <h3>UTC Date: {{utc}}</h3>
        <h3>GMT: {{gmt}}</h3>
        
        <div class="tree">
            <table class="hosts">
                {{#values}}
                    <tr>
                        <th>
                            <a href="#">{{name}}</a>
                        </th>
                        <th></th>
                    </tr>
                    {{#node}}
                        {{>row}}
                    {{/node}}
                {{/values}}
            </table>
        </div>

        {{>js}}
        <script>
            $(function() {
                $(document).on("click", ".hosts tr.parent", function() {
                    var $this = $(this);
                    var index = parseInt($this.find("input").val());
                    var nodeName = $this.find("input[name='nodename']").val();
                    var path = $this.find("input[name='path']").val();
                    var loaded = $this.hasClass("loaded");
                    var loading = $this.hasClass("loading");

                    if(loading) return;

                    if(!loaded) {
                        $this.addClass("loading");
                        $.get('{{loadnode}}'.replace('{path}', path), function(data) {
                            data = data || "";
                            if(data.trim()) {
                                var $rows = $(data);
                                $this.after($rows);
                            }
                            $this.removeClass("loading").addClass("loaded").addClass("expanded");
                        });
                    } else {
                        var xssInner = {
                            closest : $(".hosts tr.node" + (index + 1) + ".parent-" + (path)),
                            all : $("tr[class*=" + path + "-]")
                        };

                        var expand = function() {
                            xssInner.closest.show();
                            $this.removeClass("collapsed").addClass("expanded");
                        };

                        var collapse = function() {
                            xssInner.all.hide();
                            $this.removeClass("expanded").addClass("collapsed");
                        };

                        if($this.hasClass("collapsed")) {
                            expand();
                        } else if($this.hasClass("expanded")) {
                            collapse();
                        }
                    }
                });
            });
        </script>
    </body>
</html>
