body { margin:0; padding:0; min-width:820px; }
form {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
iframe { border:1px;margin:0;padding:0; }
h1 { position:absolute; font-size:2.1em;padding:0;margin:-0.3em 0 0 0.9em; }
ul {list-style-type:none;}
ul li.injectscript, ul li.getform, ul li.getwinners
{ position:relative; padding:0; float:left; border-width:0 0 1px 1px; border-style:none none solid solid; margin-left:1%; -moz-border-radius:0 0 0 0.5em;border-radius:0 0 0 0.5em;-webkit-border-radius:0 0 0 0.5em; }

ul li div.num {
    font-size:2.1em; text-align:center; color:#fff;
    margin:-0.3em 0 0 -0.6em;
    width:1.2em;
    height:1.2em;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-border-radius:50%;
}

ul li.injectscript{ width:47%; border-left-color:#98BF21; border-bottom-color:#98BF21; }
ul li.getform{ width:47%; border-left-color:#2E83FF; border-bottom-color:#2E83FF; }
ul li.getwinners{ margin-top:1em; width:95%; border-left-color:#F2241E; border-bottom-color:#F2241E; }

ul li.injectscript div.num { background-color:#98BF21; }
ul li.getform div.num { background-color:#2E83FF; }
ul li.getwinners div.num { background-color:#F2241E; }
ul li.injectscript h1 {color:#98BF21;}
ul li.getform h1 {color:#2E83FF;}
ul li.getwinners h1 {color:#F2241E;}

ul li.injectscript ul {
    width:19em;
    margin:0.5em auto 1em auto;
    border-color:#bbb;
    border-width:1px;
    border-style:solid;
    -moz-border-radius:0.2em;
    border-radius:0.2em;
    -webkit-border-radius:0.2em;
    padding:1em;
}
ul li.injectscript ul li.other { text-align:center; height:0.8em; }
ul li.injectscript ul li input { width:100%; }
ul li.injectscript ul li.save { text-align:right; margin-top:1.2em; }

ul li.injectscript ul li.save img,
ul li.injectscript ul li.save span { vertical-align:middle; }

.clear { clear:both; height:1px;}

input { width:20em;font-size:.75em }
ul li.injectscript ul li.save button {
    color:#529214;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
    border-right: 1px solid #DEDEDE;
    border-style: solid;
    border-width: 1px;
    color: #565656;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
    margin: 0 5px;
    padding: 5px 10px 6px;
    text-decoration: none;
}
ul li.injectscript ul li.save button:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
}

ul li.getform ul {list-style-type:none; padding:0; margin:0;position:relative;}
ul li.getform ul li { margin-bottom:5pt; }
ul li.getform li img { vertical-align:middle; }
ul li.getform li.lock img { position:absolute;top:-20px;left:70px; }
ul li.getform .poweredby a:visited, .poweredby a { color: #2E83FF; text-decoration:underline;}
ul li.getform p { font-size:7pt; }

ul li.getform div.injectedform table {
    margin:10px auto;
    width:80%;
    border-collapse:collapse;
    border-spacing:0;
    border:1px solid #bbb;
    background-color:#EAF1EE;
}
ul li.getform div.injectedform table tr td {
    color:#002469;
    font-size:.84em;
    padding:.2em .4em;
    text-align:left;
    vertical-align:middle;
}
ul li.getform div.injectedform table tr td input {
    font-size:.84em;
    width:80%;s
}
ul li.getform div.injectedform table tr.title td {
    color:#fff;
    background-color:#002469;
    font-size:12pt;
    font-weight:bold;
}

ul li.getwinners table.rows {
	width:90%;
	margin:5px auto 10px auto;
}
ul li.getwinners table.rows th {
	border: 1px solid #E0E0FF;
	padding:4px;
	text-align:left;
	background-color:#F6F6FF;
	color:green;
	font-size:0.9em;
}
ul li.getwinners table.rows td {
	border: 1px solid #E0E0FF;
	padding:4px 2px;
	text-align:left;
	font-size:0.75em;
}
ul li.getwinners table.rows tr:hover td {
	background-color:#f4f4f4;
}
ul li.getwinners table th .pager {
	text-align:right;
	font-size:12px;
}
ul li.getwinners table .pager .next,
ul li.getwinners table .pager .prev {
	display:inline;
	width:15px;height:15px;
	text-align:right;
	vertical-align:middle;
	padding:0;margin:0;border:0;
	cursor:pointer;
}
ul li.getwinners table .pager .prev
{background:transparent url(../img/prev.gif) no-repeat scroll left 1px;}
ul li.getwinners table .pager .next
{background:transparent url(../img/next.gif) no-repeat scroll right 1px;}
ul li.getwinners table .pager .prev:hover{background-position:left -14px;}
ul li.getwinners table .pager .next:hover{background-position:right -14px;}

ul li.getwinners table .pager form {
	display:inline;
	text-align:right;
	margin:0 0.2em;
	height:15px;
	vertical-align:middle;
}
ul li.getwinners table .pager form input { width:50px; font-size:12px; }
ul li.getwinners table .pager form input,
ul li.getwinners table .pager select,
ul li.getwinners table .pager select option {
	height:100%;
	text-align:right;
}

.head th { vertical-align:middle; }

.asc, .desc { vertical-align:middle;width:15px;height:15px; }
.asc img { width:15px;height:15px; background:transparent url(../img/asc.gif) no-repeat scroll -3px 3px;}
.desc  img{ width:15px;height:15px; background:transparent url(../img/desc.gif) no-repeat scroll -3px 3px; }

.asc:hover img, .desc:hover img {background-position:-18px 3px;}

header ul { margin:0; padding:0; }
header ul li { float:left; margin:0 0 0 10px; padding:0; }
header div { clear:both; }
header .github a,
header .github a:visited,
header .github a:visited { text-decoration:none;color:#2E83FF; }
header div.github {
    float:left;
    font-size:18px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 2px 2px 2px 25px;
    padding: 4px;
    position:relative;
}

header div.github:before {
    content: "";
    background-color:red;
    border-bottom:10px solid white;
    border-right:15px solid red;
    border-top: 10px solid white;
    position:absolute;
    right:100%;
    width:20%;
}


